<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
</head>
<body>
<p>To Do</p>
<p th:text="${task}"></p>

<form method="post">
    <p>add task</p>
    <input type="text" name="text" />
    <input type="submit" value="submit"/>
</form>
</body>
</html>