<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<p>To Do</p>
<p th:text="${task}"></p>

<p th:text="${taskText}"></p>
</body>
</html>